<section>
<div class="">
  <h1>About View Welcome to Move and Groove</h1>
  <p>This is the about page</p>
</div>
</section>

<div class="">
  <h1>About View Welcome to Move and Groove</h1>
  <p>This is the about page</p>
</div>
<div class="">
  <h1>About View Welcome to Move and Groove</h1>
  <p>This is the about page</p>
</div>
<div class="">
  <h1>About View Welcome to Move and Groove</h1>
  <p>This is the about page</p>
</div>