
<div class="container">

  <div class="row">
    <div class="col-md-12">
      <h1 class="text-center font-weight-lighter">Who are we?</h1>
      <h4 class="text-center font-italic font-weight-light">Encouraging people to stay healthy by working out daily</h4>
    </div>
  </div>

  <div class="row m-3">
    <div class="col-md-6 offset-md-3 text-center">
      <p class="font-italic">
        It has been research and proven to be true, physical activity is important and vital for health.
        We want to encourage, motivate and help people to workout. 
        <br><br>
        By providing this plaform people can keep track of their own workout and be encourage and also
        motivated by their daily progess in keeping track of their workout via Move and Groove.
        We offer a wide range of activities to keep you fit and healthy. Our list of activities has
        choosen to provide you a full body workout!  
        <%= link_to "Click here", listofactivities_path, class: "", style:"color:green" %> 
        to find out the activities we offer here at Move And Groove! 
      </p>
    </div>
  </div>

</div>