<div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
  <div class="carousel-inner text-center">
    <div class="carousel-item active text-center">      
      <h1>Running</h1>
    </div>
    <div class="carousel-item">      
      <h1>Swimming</h1>
    </div>
    <div class="carousel-item">      
      <h1>Cycling</h1>
    </div>
    <div class="carousel-item">      
      <h1>Strength Training (upperbody)</h1>
    </div>
    <div class="carousel-item">      
      <h1>Strength Training (lowerbody)</h1>
    </div>
    <div class="carousel-item">      
      <h1>Core Workout</h1>
    </div>
    <div class="carousel-item">      
      <h1>Rowling</h1>
    </div>
    <div class="carousel-item">      
      <h1>Walking</h1>
    </div>
    <div class="carousel-item">      
      <h1>Stretching</h1>
    </div>
    <div class="carousel-item">      
      <h1>Coordination & Balance</h1>
    </div>    

  </div>
  <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>



<div class="m-3 p-4">
  <h1>Activities View page</h1>
  <h3>List of aviable activities</h3>
  <h4>Which data type?</h4>
  <h5>Activity :title, Duration :string or integar, Intensity :multiple chocie!</h5>
  <p>Activity: Running, Duration: 60 minutes, Intensity: easy, medium, hard</p>
  <p>Swimming, </p>
  <p>Cycling, </p>
  <p>Strength Training (upperbody), </p>
  <p>Strength Traning (lowerbody), </p>
  <p>Core Workout, </p>
  <p>Rowling, </p>
  <p>Walking, </p>
  <p>Stretching, </p>
  <p>Coordination & Balance, </p>
</div>