<div class="container">
  <div class="row">
    <div class="col text-center">
      <h2 class="font-italic display-3 lead">The activities we offer!</h2>
    </div>

  </div>

  <div class="row mb-4 p-2">
    <div class="col">
      <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner text-center font-italic font-weight-bolder">
          <div class="carousel-item active col-md-8 offset-md-2">      
            <h1>Running</h1>
            <p class="lead">
            Running is an excellent form of exercise. Regardless of your level of fitness anyone can run!
            This is the most basic form of exercise an atheletes can do for fitness
            </p>
          </div>
          <div class="carousel-item col-md-8 offset-md-2">      
            <h1>Swimming</h1>
            <p class="lead">
            Swimming is a form of exercise that is all rounded. They are a couple different style of 
            swimming. <u>Note there is a risk of drowning </u>
            <strong>Please take appropriate precaution</strong>
            </p>
          </div>
          <div class="carousel-item col-md-8 offset-md-2">      
            <h1>Cycling</h1>
            <p class="lead">
            Cycling also known as biking in some culture. It is a great form of exercise, people are
            engage in this workout during their commute to work, school or simply an activity for leisure 
            </p>
          </div>
          <div class="carousel-item col-md-8 offset-md-2">      
            <h1>Strength Training (upperbody)</h1>
            <p class="lead">
            Strength is an often overlook exercise that is vital for a person's health. From shoulders to
            arms, chest and back, it keeps a person daily posture that is vital for long-term health
            </p>
          </div>
          <div class="carousel-item col-md-8 offset-md-2">      
            <h1>Strength Training (lowerbody)</h1>
            <p class="lead">
            The strength and power gain from training your lower body should not be overlook. From this 
            workout, a person stamina to stand and travel increase ten-fold. Strengthening the lower part
            of the body is especially vital for people whose work demand the extensive used of their leg
            </p>
          </div>
          <div class="carousel-item col-md-8 offset-md-2">      
            <h1>Core Workout</h1>
            <p class="lead">
            Core workout, this include the abdominal and back, the trunk of a person. A strong core is 
            vital to person overall physical health. The core strength contribute to a person daily posture
            from sitting, standing, kneeling and sleeping.
            </p>
          </div>
          <div class="carousel-item col-md-8 offset-md-2">      
            <h1>Rowling</h1>
            <p class="lead">
            Rowling focus on the arms and help builds the stamina in the use of the arms. It is very common
            to find a rowling machine in a gym or fitness center. This has now become very accessible for
            people from all people to take part in this exercise. 
            </p>
          </div>
          <div class="carousel-item col-md-8 offset-md-2">      
            <h1>Walking</h1>
            <p class="lead">
            Walking! The most common and basic form of exercise. Many people use it for social and simple
            leisure. Nothing like a nice walk in the country side. It is an easy and an low impact
            exercise. 
            </p>
          </div>
          <div class="carousel-item col-md-8 offset-md-2">      
            <h1>Stretching</h1>
            <p class="lead">
            Stretching increase and maintain a person flexibility. This is crucial for a person 
            physical health. Stretches relieve the stree of the muscle and minimize the risk of injury. It
            aide recovery of muscles after a long hard workout. It is also recommeded stretches are perfrom
            before an activity.
            </p>
          </div>
          <div class="carousel-item col-md-8 offset-md-2">      
            <h1>Coordination & Balance</h1>
            <p class="lead">
            Lastly but not least Coordination and balance. Something we all have learn and develop when we
            will young. The continuous progress allows the various system in the human body to be in top
            shape. This in turn enable a person to excel in other activities. This exercise when perfrom
            correctly can be challenging for anybody even the professional athletes!
            </p>
          </div>    

        </div>
        <a class="carousel-control-prev bg-danger" href="#carouselExampleControls" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next bg-danger text-dark" href="#carouselExampleControls" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
      </div>
    </div>
  </div>

  <div class="m-1 p-1 text-center">
    <ul class="list-group font-italic"">
      <li class="list-group-item list-group-item-light"><h1 class="display-3" style="color:">Start Tracking Now!</h1></li>
      <li class="list-group-item list-group-item-light"><h4><%= link_to "Sign up!", new_user_registration_path %></h4></li>
      <li class="list-group-item"><h4>Add activity</h4></li>
      <li class="list-group-item"><h4>Select your activity</h4></li>
      <li class="list-group-item"><h4>Select the intensity of your activity</h4></li>
      <li class="list-group-item"><h4>Note the duration of your activity</h4> </li>
      <li class="list-group-item"><h4>Finally, note down anything you wish and <strong>submit</strong></h4></li>
    </ul>
  </div>


</div>