<h1>Activities page</h1>
<h3>List of aviable activities</h3>
<h4>Which data type?</h4>
<h5>Activity :title, Duration :string or integar, Intensity :multiple chocie!</h5>
<p>Activity: Running, Duration: 60 minutes, Intensity: easy, medium, hard</p>
<p>Swimming, </p>
<p>Cycling, </p>
<p>Strength Training (upperbody), </p>
<p>Strength Traning (lowerbody), </p>
<p>Core Workout, </p>
<p>Rowling, </p>
<p>Walking, </p>
<p>Stretching, </p>
<p>Coordination & Balance, </p>