
  <div class="container">

    <div class="jumbotron">
      <h1 class="text-center display-1">Move and Groove</h1>
      <p class="text-center display-4">Keep active and stay active with a little help</p>
    </div>

    <div class="row">

      <div class="col-md-6 offset-md-3 text-center">
        <p class="font-italic font-weight-bolder">
          Daily physical activity is vital for our physical health. Use this website to keep track of your daily workout
        </p>
      </div>
      
    </div>
    
  <div>
